extends ../layout

block content
  .repo-head
    .title-action-bar
      .lead.pull-left
        a(href="/#{user.uid}") #{user.uid}
        span.divider  / 
        a(href="#{filter.repo_home(repo)}")
          strong #{repo.name}
      .pull-right
        a.btn.btn-small.action-list(href="#")
          i.icon-star
          |  Star
      .clearfix
    .repo-function-bar
      .navbar.x-no-margin
        .navbar-inner
          ul.nav
            li.active
              a(href="#") Code
            li
              a(href="#") Pull Requests
            li
              a(href="#") Issues
            li
              a(href="#") Wiki
            li
              a(href="#") Status
            li
              a(href="#{filter.repo_home(repo)}/setting") Setting
  br
  .repo-init-guide
    .lead Quick setup
    p This's a empty repository, use one of belowing guides to getting start.
    .repo-url-box
      span.input-prepend.input-append.action-list
        //-button#repo_url_http.btn.btn-small HTTP Read-only
        button#repo_url_ssh.btn.btn-small(disabled) SSH
        //-button.btn.btn-small GIT Read-only
        input#repo_url_input.input-xmlarge(type="text", style="height: 16px", value="git@nanny.netease.com:#{repo.owner.uid}/#{repo.name}.git")
          //-button.btn.btn-small Copy it
    .split-line
    p
      strong Create a new repository on the command line
    pre
      | touch README.md
      | git init
      | git add README.md
      | git commit -m "first commit"
      | git remote add origin 
      span.repo_url_text git@nanny.netease.com:#{repo.owner.uid}/#{repo.name}.git
      | 
      | git push -u origin master
    br
    p
      strong Push an existing repository from the command line
    pre
      | git remote add origin 
      span.repo_url_text git@nanny.netease.com:#{repo.owner.uid}/#{repo.name}.git
      | 
      | git push -u origin master

block customjs
  script.
    $("#repo_url_http").click(function() {
      console.log('hehhhh');
      $("#repo_url_input").val("http://nanny.netease.com/#{repo.owner.uid}/#{repo.name}.git");
      $(".repo_url_text").text("http://nanny.netease.com/#{repo.owner.uid}/#{repo.name}.git");
      $("#repo_url_http").attr('disabled', true);
      $("#repo_url_ssh").attr('disabled', false);
    });
    $("#repo_url_ssh").click(function() {
      $("#repo_url_input").val("git@nanny.netease.com:#{repo.owner.uid}/#{repo.name}.git");
      $(".repo_url_text").text("git@nanny.netease.com:#{repo.owner.uid}/#{repo.name}.git");
      $("#repo_url_http").attr('disabled', false);
      $("#repo_url_ssh").attr('disabled', true);
    });
