extends layout

block content
  .container-fluid
    .row-fluid
      .span5
        .lead Recently created repositories
        each repo in repos
          .profile-brief
            a(href="/#{repo.owner.uid}/#{repo.name}")
              span.x-lead
                strong #{repo.name}
            div #{repo.description} - 
              a(href="/#{repo.owner.uid}") #{repo.owner.uid}
            .ts-small.muted Created on #{filter.ts_simple(repo.created_at)}

      .span4
        .lead Recently joined peoples
        each user in users
          .profile-brief
            img.img-rounded.avatar-small.pull-left(src="http://nanny.netease.com/pub/aiur_icon_gray.png")
            .username.pull-left
              a(href="/#{user.uid}")
                if user.realname
                  .x-lead #{user.realname}
                else
                  .x-lead #{user.uid}
              div #{user.uid}
              if user.homepage
                a(href="#{user.homepage}", target="_blank") #{user.homepage}
              .ts-small.muted Joined on #{filter.ts_simple(user.created_at)}
            .clearfix

      .span3
        .lead Status of Aiur
        div
          span.lead.xlead
            span.text-success
              strong #{repo_count}
        p Repositories created
        .space-line
        div
          span.lead.xlead
            span.text-success
              strong #{user_count}
        p Peoples joined
        //if !auth_user
          a.btn.btn-primary.btn-large(href="/login")
            strong Login

