extends ../layout

block content
  .container-fluid
    .row-fluid
      .span3.content-box-left
        .profile-box
          .profile-brief
            img.img-rounded.avatar(src="http://nanny.netease.com/pub/aiur_icon_gray.png", alt="140x140")
            if user.realname
              h3 #{user.realname}
            else
              h3 #{user.uid}
            .x-lead #{user.uid}
          .profile-detail
            address
              strong Netease, Inc.
              .mail
                 a(href="mailto:#{user.uid}@corp.netease.com") #{user.uid}@corp.netease.com
              if user.mobile
                abbr(title="Phone") P:
                span  #{user.mobile}
              if user.homepage
                .homepage
                   a(href="http://my.home.com") #{user.homepage}
              div Joined on #{filter.ts_simple(user.created_at)}
          .profile-other
        
      .span9.content-box-right
        .filter-bar
        if repos.length
          .lead Repositories
          .repos-list
            each repo in repos
              .repo-info
                a.repo-name(href="/#{user.uid}/#{repo.name}")
                  span.x-lead
                    strong #{repo.name}
                .repo-description #{repo.description}
                .ts-small.muted Last updated at #{filter.ts_simple_time(repo.updated_at)}
        else
          if auth_user && auth_user.uid == user.uid
              .lead You have no repositories
              a.btn.btn-large(href="/new") Create a repository
          else
            .lead The lazy guy have no repositories

