extends layout-setting

block setting-nav
  li.active
    a(href="/setting/profile") Profile
  li
    a(href="/setting/ssh") SSH Keys
  //li
    a(href="/setting/notification") Notification

block setting-area
  h3 Profile
    span.display-box
      a#edit_action.btn.btn-link(href="#") Edit
  p Change your profile
  form.form-horizontal(action="/setting/profile", method="POST")
    //.control-group
      label.control-label Avatar
      .controls
        img.img-rounded.img-avatar(src="#", alt="140x140")
    .control-group
      label.control-label Employee No.
      .controls
        if auth_user.empno
          input.input-large.edit-box.hide(type="text", name="empno", placeholder="Employee No.", value="#{auth_user.empno}")
          .x-lead.display-box #{auth_user.empno}
        else
          input.input-large.edit-box.hide(type="text", name="empno", placeholder="Employee No.")
    .control-group
      label.control-label Realname
      .controls
        if auth_user.realname
          input.input-large.edit-box.hide(type="text", name="realname", placeholder="Realname", value="#{auth_user.realname}")
          .x-lead.display-box #{auth_user.realname}
        else
          input.input-large.edit-box.hide(type="text", name="realname", placeholder="Realname")
    .control-group
      label.control-label Email
      .controls
        if auth_user.email
          .x-lead #{auth_user.email}
    .control-group
      label.control-label Mobile
      .controls
        if auth_user.mobile
          input.input-large.edit-box.hide(type="text", name="mobile", placeholder="Mobile number", value="#{auth_user.mobile}")
          .x-lead.display-box #{auth_user.mobile}
        else
          input.input-large.edit-box.hide(type="text", name="mobile", placeholder="Mobile number")
    .control-group
      label.control-label Home Page
      .controls
        if auth_user.homepage
          input.input-large.edit-box.hide(type="text", name="homepage", placeholder="http://my.home.com", value="#{auth_user.homepage}")
          .x-lead.display-box #{auth_user.homepage}
        else
          input.input-large.edit-box.hide(type="text", name="homepage", placeholder="http://my.home.com")
    .control-group
      .controls.edit-box.hide
        a#cancel_action.btn(href="#") Cancel
        a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        button.btn.btn-success(type="submit") Save

block customjs
  script.
    $('#edit_action').click(function() {
      $('.edit-box').show();
      $('.display-box').hide();
    });
    $('#cancel_action').click(function() {
      $('.edit-box').hide();
      $('.display-box').show();
    });

