extends layout-setting

block setting-nav
  li
    a(href="/setting/profile") Profile
  li.active
    a(href="/setting/ssh") SSH Keys
  li
    a(href="/setting/notification") Notification

block setting-area
  if sshkeys.length
    h3 Manage your SSH Keys
    table.table.table-striped.table-hover
      thead
        tr
          th SSH Keys
          th
            a.btn.btn-small.pull-right#add_key_action(href="#") Add SSH Key
      tbody
        each sshkey in sshkeys
          tr
            td
              strong #{sshkey.title}
              span.muted  (#{sshkey.key})
              .ts-small.muted Created at #{sshkey.created_at}
            td(style="vertical-align: middle;")
              form(action="/setting/ssh/delete/#{sshkey._id}", method="POST")
                button.btn.btn-small.btn-danger.pull-right(type="submit") Delete
  else
    .lead You have no SSH Keys
    a.btn.btn-large#add_key_action(href="#") Add SSH Key
    
  .clearfix
  p.pull-right
    strong Need Help? 
    span Check out the guide to 
      a(href="https://help.github.com/articles/generating-ssh-keys", target="_blank") generating SSH Keys.
  .clearfix

  #add_key_box.hide
    if sshkeys.length >= key_num_quota
      .lead You can't have more than #{key_num_quota} Keys. Delete a unused key before add.
    else
      h3 Add an SSH Key
      form.form-horizontal(action="/setting/ssh", method="POST")
        .control-group
          label.control-label Title
          .controls
            input.input-large(type="text", name="key_title", placeholder="my public key")
        .control-group
          label.control-label Key
          .controls
            textarea.sshkey-input(rows=5, name="key_content", placeholder="ssh-rsa|ssh-dss xxxxxxxxxxx...")
        .control-group
          .controls
            button.btn.btn-success(type="submit") Add

block customjs
  script.
    $('#add_key_action').toggle(function() {
      $('#add_key_box').show();
    }, function() {
      $('#add_key_box').hide();
    });

